#syslock,
#syslock-empty-window {
	background-color: rgba(0, 0, 0, 0.5);
	background-image: url("/path/to/background.jpg");
}

/* Lock screen */
#syslock .lock_screen {
}

#syslock .clock {
	margin-top: 200px;
	font-size: 96px;
}
#syslock .date {
	font-size: 18px;
}

/* Login screen */
#syslock .login_screen {
	background: rgba(0, 0, 0, 0.5);
}

#syslock .image_profile {
	border: 3px solid white;
	border-radius: 50%;
	margin: 10px;
}

#syslock .label_username {
	font-size: 22px;
	margin: 10px;
}

#syslock .entry_password {
	margin: 10px;
}

#syslock .label_error {
	color: rgb(255,150,125);
}
